<!-- Colors -->
<meta name="color:Header" content="#F3F3F3">
<meta name="color:Post Background" content="#FEFEFE">
<meta name="color:Text" content="#262626">
<meta name="color:Hover" content="#C0C0C0">
<meta name="color:Logo" content="#262626">


<style type="text/css">

body, html {
padding: 0;
margine: 0;
}

body {
font-family: 'Neucha', cursive;
font-weight: 400;
}

a, a:visited{
color: {AccentColor};
{block:IfNotUnderlineLinks}text-decoration: none;{/block:IfNotUnderlineLinks}
{block:IfUnderlineLinks}text-decoration: underline;{/block:IfUnderlineLinks}
}

a:hover, a:active {
color: {color:Hover};
}

h1, h2 {
font-weight: 400;
letter-spacing: 1px;
}


h1 { <!--PAGE_HEADER-->
font-family: 'Covered By Your Grace';
font-size: 180;
text-decoration: none;
text-align: center;
}


h2 { <!--POST_HEADER-->
font-family: 'Covered By Your Grace'; 
font-size: 130;
text-decoration: underline;
}


footer {
text-align: center;
}  

hr { <!--HORIZONTAL_LINE-->
 display: block;
 margin-top: 0.5em;
 margin-bottom: 0.5sem;
 margin-left: auto;
 margin-right: auto;
 border-style: inset;
 border-width: 1px;
}
  
.nothingyet {
font-family: 'Covered By Your Grace';
font-size: 300;
font-colour: #100C22;
text-decoration: none;
text-align: center;
position: fixed;
top: 50%;
left: 50%;
/* bring your own prefixes */
transform: translate(-50%, -50%);



}
 
  
</style>  


