
body, html {
height: 100%;
}

body {
font-family: 'Neucha';
font-size: 120%;
color: #4A5937;
}


h1 { 
font-family: 'Truculenta', sans-serif;
font-weight: 300;
font-size: 350%;
color: #2F4F4F;
text-decoration: none;
text-align: center;
}


h2 { 
font-family: 'Truculenta', sans-serif;
font-size: 130%;
color: #2F4F4F;
text-decoration: underline;
}

footer {
font-size: 110%;
text-align: center;
position: fixed;
bottom: 0%;
left: 50%;
transform: translate(-50%, 0%);
}  

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
} 

.nothingyet{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*START_post: for all pages*/
.post {
text-align: left;
position: fixed;
top: 20%;
left: 15%;
width: 70%;
transform: translate (-15%, 20%)
}
/*END_post: for all pages*/

/*START_border-main: in betwwen 20px*/
.mainabout {
 position: fixed;
 top: 40%;
 left: 15%;
 tranform: translate(15%, 40%);
}

.mainprojects {
 position: fixed;
 top: 40%;
 left: 37.5%;
 tranform: translate(40%, 37.5%);
}

.mainsearch {
 position: fixed;
 top: 40%;
 left: 65%;
 tranform: translate(75%, 40%);
}
/*END_border-main: in betwwen 20px*/
  
/*START_LinkColours*/
a:link {
color: #2F4F4F;
text-decoration: none;
}

a:visited{
color: #C5DCA8;
text-decoration: none;
}

a:hover{
color: #1A260C;
text-decoration: none;
}

a:active{
color:#33451C;
text-decoration: none;
}

/*END_LinkColours*/



