 <!--Fonts-->
 <link href='https://fonts.googleapis.com/css?family=Covered+By+Your+Grace' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
  

<!-- Colors -->
<meta name="color:Header" content="#F3F3F3">
<meta name="color:Post Background" content="#FEFEFE">
<meta name="color:Text" content="#262626">
<meta name="color:Hover" content="#C0C0C0">
<meta name="color:Logo" content="#262626">

<style type="text/css">
img{
display: block;
max-width: 100%;
height: auto !important;
margin: 0 auto;
}

*, *:before, *:after{
box-sizing: border-box;
}

.clear{
clear: both;
}

body,html{
padding: 0;
margin: 0;
}

body{
font-family: 'Neucha', cursive;
font-weight: 400;
}

a, a:visited{
color: {AccentColor};
{block:IfNotUnderlineLinks}text-decoration: none;{/block:IfNotUnderlineLinks}
{block:IfUnderlineLinks}text-decoration: underline;{/block:IfUnderlineLinks}
}

a:hover, a:active {
color: {color:Hover};
}

img{
margin: 5px auto;
display: block;
}

h1, h2, h3{
font-weight: 400;
letter-spacing: 1px;
}

h3{
font-family: 'Covered By Your Grace';
text-decoration: underline;
font-size: 150%;
}

article, aside, footer, header, nav, section {
display: block;
}

header, footer{
text-align: center;
}

.c-fluid{
display: block;
position: relative;
margin: 0 auto;
max-width: 100%;
height: auto;
padding: 10px;
}

blockquote{
border-left: 2px solid {AccentColor};
padding-left: 12px;
}

/* Header + Title */


#logo {
font-family: 'Covered By Your Grace';
font-size: 50px;
font-weight: 700;
letter-spacing: 2px;
margin: 50px auto 20px;
padding: 10px;
text-transform: uppercase;
padding-bottom: 40px;
}

#logo a, #logo a:visited{
color: {color:Logo};
text-decoration: none;
}

#logo a:hover, #logo a:active{
color: {color:Hover};
}

.avatar {
border-radius: 100%;
}

/* Content Container */
.cc{
margin: 0 auto;
padding: 0;
}

.cc:after {
content: " ";
display: block;
visibility: hidden;
clear: both;
height: 0.1px;
font-size: 0.1em;
line-height: 0;
}

/* Container */
.c{
}

/* Sidebar */
.s{
text-align: center;
clear: both;
}

div.s > h3 {
font-size: 16px;
text-transform: uppercase;
}

.d{
padding: 10px 0;
}

/* Search Bar*/
#search > input[type="text"]{
display: block;
max-width: 90%;
min-height: 36px;
background: transparent;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 3px solid {color:Text};
margin: 1em auto;
}

input::-webkit-input-placeholder{
color: {color:Text};
font-family: 'PCovered By Your Grace';
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

input::-moz-placeholder {
color: {color:Text};
font-family: 'PCovered By Your Grace';
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

input:-ms-input-placeholder {
color: {color:Text};
font-family: 'Covered By Your Grace';
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

/* Sidebar Navigation Menu */
div.s.sidebarnav > ul{
padding: 0;
margin: 0;
}
div.s.sidebarnav > ul > li{
list-style: none;
padding: 15px 3px;
margin: 15px 0;
border: 3px solid {color:Text};
}
div.s.sidebarnav > ul > li a{
color: {color:Text};
font-family: 'Covered By Your Grace';
font-weight: 700;
text-decoration: none;
text-transform: uppercase;
}

div.s.sidebarnav > ul > li:hover{
border: 3px solid {color:Hover};
background: {color:Hover};
}

/* Top Navigation */
nav > ul{
list-style: none;
padding: 0;
margin: 0 auto;
}

nav > ul > li{
display: inline-block;
padding: 5px;
margin: 10px auto;
}

nav > ul > li a{
text-decoration: none;
text-transform: capitalize;
}

/* Posts: Quote */
div.quote > blockquote{
border: 0;
padding: 0;
margin: 20px auto 10px;
font-weight: 400;
letter-spacing: 2px;
text-transform: uppercase;
}

div.quote > blockquote.long{
font-size: 150%;
}

div.quote > blockquote.short{
font-size: 220%;
}

div.quote > p.source, .source{
text-align: center;
}

/* Posts Chat */
div.chat > ul.conversation{
list-style: none;
margin: 0;
padding: 0;
}

li.line{
padding: 12px 7px;
margin: 5px 0;
}

li.line.odd{
background: transparent;
border: 3px solid {color:Text};
}

li.line.even{
border: 3px solid {color:Hover};
}

/* Posts Ask + Answer */
.question{
background: {color:Hover};
padding: 12px;
}

.question a:hover{
color: {color:Text}
}

.myanswer{
padding-top: 8px;
margin-top: 8px;
}

/* Post Footer */
.pf {
font-size: 15px;
}

.pf ul{
list-style: none;
padding: 0;
}

.pf li {
font-family: 'Covered By Your Grace', cursive;
text-decoration: bold;
list-style: none;
display: inline-block;
float: left;
padding: 7px 20px 7px 0;
/* muted date + like button + reblog button */
}

.notes {
list-style: none;
display: block;
float: none;
font-size: 15px;
letter-spacing: 1px;
padding: 20px 0 0 0;
margin: 20px 0 5px;
}

body > section > article > div.notes > ol > li.note{
margin: 5px 0;
line-height: 2em;
padding: 0;
}

ol > li.note > a > img.avatar {
float: left;
margin-right: 8px;
padding: 0;
}

div.pagination {
margin: 10px auto;
padding: 20px;
text-align: center;
float: none;
clear: both;
overflow: hidden;
}

.prev{
margin-right: 20px;
}

.next{
margin-left: 20px;
}

/* Footer */
footer{
margin: 20px auto;
text-align: center;
clear: both;
}

footer > div.top,
footer > div.top a,
footer > div.top a:visited{
color: {AccentColor};
text-transform: uppercase;
font-size: 12px;
margin-bottom: 20px;
}

footer > div.copyright {
color: {color:Text};
font-size: 14px;
font-weight: 700;
margin: 8px auto;
}

footer > div.credit {
font-size: 10px;
color: {color:Text};
}

{block:IfHideThemeCredit}
.credit {display: none;}
{/block:IfHideThemeCredit}

/* Laptops + Desktops */
@media (min-width: 1024px){
/* content container */
.cc{
overflow: auto;
max-width: 950px;
}

/* container */
.c{
width: 700px;
padding: 25px;
float: left;
margin: 0px 0px 30px 0px;
}

{block:IfNotShowSidebar}
.c{
width:900px;
margin: 0px auto 30px;
float:none;
}
div.text > p,
div.text > ul,
div.text > li,
div.text > h1,
div.text > h2,
div.text > h3,
div.text > h4,
div.text > h5,
div.text > h6{
max-width: 700px;
margin: 0 auto;
}
div.text > h3{
text-align: center;
}
{/block:IfNotShowSidebar}

/* sidebar */
.sc {
    
width: 220px;
float: right;  


}

.s{
width: 220px;
padding: 25px;
margin: 0px 0px 30px 0px;
}

/* Posts: Video + Audio Player */
div.video > iframe,
div.audio > iframe{
width: 100%;
margin: 0 auto;
display: block;
}
} 

/* Tablets */
@media (min-width: 760px)
and (max-width: 1023px){
/* content container */
.cc{
overflow: hidden;
max-width: 740px;
}
/* container */
.c{
width: 550px; 
padding: 10px;
float: left;
margin: 0px 0px 30px 0px;
}

{block:IfNotShowSidebar}
.cc{
padding: 0;
}
.c{
width:740px;
margin: 0px auto 30px;
padding: 25px;
float:none;
}
div.text > p{
max-width: 700px;
margin: 0 auto;
}
div.text > h3{
text-align: center;
}
{/block:IfNotShowSidebar}

/* sidebar */
.sc {
word-wrap: break-word; 
float: right;
}

.s{
width: 150px;
padding: 10px;
margin: 0px 0px 30px 0px;
}

/* Posts: Video + Audio Player */
div.video > iframe,
div.audio > iframe{
width: 100%;
margin: 0 auto;
display: block;
}

}

/* Mobile, Smartphones, iPhone */
@media (max-width: 759px){
/* content container */
.cc{
overflow: auto;
max-width: 100%;
}

/* container */
.c{
margin: 0 auto;
max-width: 100%; 
padding: 25px 25px 40px;
}

/* sidebar */
.sc{
margin: 20px auto;
}

.s{
margin: 50px auto;
width: 80%;
padding: 25px 25px 40px;
vertical-align: top;
}

input, textarea, select{ 
-webkit-appearance: none; 
border-radius: 0; 
-webkit-border-radius:0;
}

*{
-webkit-tap-highlight-color:{color:Hover};
}

/* Posts: Video + Audio Player */
div.video > iframe,
div.audio > iframe{
width: 100%;
height: 100%;
margin: 0 auto;
display: block;
}
}
 
  

