<style type="text/css">


body, html {
padding: 0;
margine: 0;
}

body {
font-family: 'Truculenta', sans-serif;
font-size:100%;
color: #100C22;
}


h1, h2 {
font-family: 'Covered By Your Grace', cursive;
letter-spacing: 1px;
}


h1 { 
font-size: 300%;
color: #12211C;
text-decoration: none;
text-align: center;
}


h2 { 
font-size: 130%;
color: #12211C;
text-decoration: underline;
}

footer {
font-size: 150%;
text-align: center;
position: fixed;
bottom: 0%;
left: 50%;
transform: translate(-50%, 0%);
}  

.nothingyet{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

  
 #search > input[type="text"]{
 display: block;
 max-width: 90%;
 min-height: 36px;
 background: transparent;
 border-top: none;
 border-left: none;
 border-right: none;
 border-bottom: 3px solid {color:Text};
 margin: 1em auto;
}

input::-webkit-input-placeholder{
font-family: 'Truculenta', sans-serif;
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

input::-moz-placeholder {
font-family: 'Truculenta', sans-serif;
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

input:-ms-input-placeholder {
font-family: 'Truculenta', sans-serif;
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

  
</style>  


