<style type="text/css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Neucha&display=swap" rel="stylesheet">

body, html {
height: 100%;
padding: 0;
margine: 0;
}

body {
font-family: 'Truculenta', sans-serif;
font-size: 120%;
color: grey;
}


h1, h2 {
font-family: 'Neucha';

}


h1 { 
font-size: 300%;
color: black;
text-decoration: none;
text-align: center;
}


h2 { 
font-size: 130%;
color: darkgrey;
text-decoration: underline;
}

footer {
font-size: 110%;
text-align: center;
position: fixed;
bottom: 0%;
left: 50%;
transform: translate(-50%, 0%);
}  

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
} 

.nothingyet{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*border-main: in betwwen 20px*/

.mainabout {
 position: fixed;
 top: 40%;
 left: 15%;
 tranform: translate(15%, 40%);
}

.mainprojects {
 position: fixed;
 top: 40%;
 left: 35%;
 tranform: translate(40%, 40%);
}

.mainsearch {
 position: fixed;
 top: 40%;
 left: 65%;
 tranform: translate(75%, 40%);
}

  
</style>  


