 <!--Fonts-->
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Covered+By+Your+Grace" />
 <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Neucha" />
  

<!-- Colors -->
<meta name="color:Header" content="#F3F3F3">
<meta name="color:Post Background" content="#FEFEFE">
<meta name="color:Text" content="#262626">
<meta name="color:Hover" content="#C0C0C0">
<meta name="color:Logo" content="#262626">

<style type="text/css">
img{
display: block;
max-width: 100%;
height: auto !important;
margin: 0 auto;
}

*, *:before, *:after{
box-sizing: border-box;
}

.clear{
clear: both;
}

body,html{
padding: 0;
margin: 0;
}

body{
font-family: 'Neucha', cursive;
font-weight: 400;
}

a, a:visited{
color: {AccentColor};
{block:IfNotUnderlineLinks}text-decoration: none;{/block:IfNotUnderlineLinks}
{block:IfUnderlineLinks}text-decoration: underline;{/block:IfUnderlineLinks}
}

a:hover, a:active {
color: {color:Hover};
}

img{
margin: 5px auto;
display: block;
}

h1, h2, h3{
font-weight: 400;
letter-spacing: 1px;
}

h3{
font-family: 'Covered By Your Grace';
text-decoration: underline;
font-size: 150%;
}

article, aside, footer, header, nav, section {
display: block;
}

header, footer{
text-align: center;
}

.c-fluid{
display: block;
position: relative;
margin: 0 auto;
max-width: 100%;
height: auto;
padding: 10px;
}

blockquote{
border-left: 2px solid {AccentColor};
padding-left: 12px;
}


/* Search Bar*/
#search > input[type="text"]{
display: block;
max-width: 90%;
min-height: 36px;
background: transparent;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 3px solid {color:Text};
margin: 1em auto;
}

input::-webkit-input-placeholder{
color: {color:Text};
font-family: 'PCovered By Your Grace';
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

input::-moz-placeholder {
color: {color:Text};
font-family: 'PCovered By Your Grace';
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

input:-ms-input-placeholder {
color: {color:Text};
font-family: 'Covered By Your Grace';
font-weight: 700;
text-align: center;
text-transform: uppercase;
}

/* Top Navigation */
nav > ul{
list-style: none;
padding: 0;
margin: 0 auto;
}

nav > ul > li{
display: inline-block;
padding: 5px;
margin: 10px auto;
}

nav > ul > li a{
text-decoration: none;
text-transform: capitalize;
}


/* Footer */
footer{
margin: 20px auto;
text-align: center;
clear: both;
}

footer > div.top,
footer > div.top a,
footer > div.top a:visited{
color: {AccentColor};
text-transform: uppercase;
font-size: 12px;
margin-bottom: 20px;
}

footer > div.copyright {
color: {color:Text};
font-size: 14px;
font-weight: 700;
margin: 8px auto;
}

footer > div.credit {
font-size: 10px;
color: {color:Text};
}

{block:IfHideThemeCredit}
.credit {display: none;}
{/block:IfHideThemeCredit}






/* Laptops + Desktops */
@media (min-width: 1024px){
/* content container */
.cc{
overflow: auto;
max-width: 950px;
}


/* Tablets */
@media (min-width: 760px)
and (max-width: 1023px){
/* content container */
.cc{
overflow: hidden;
max-width: 740px;
}
/* container */
.c{
width: 550px; 
padding: 10px;
float: left;
margin: 0px 0px 30px 0px;
}

{block:IfNotShowSidebar}
.cc{
padding: 0;
}
.c{
width:740px;
margin: 0px auto 30px;
padding: 25px;
float:none;
}
div.text > p{
max-width: 700px;
margin: 0 auto;
}
div.text > h3{
text-align: center;
}
{/block:IfNotShowSidebar}

/* sidebar */
.sc {
word-wrap: break-word; 
float: right;
}

.s{
width: 150px;
padding: 10px;
margin: 0px 0px 30px 0px;
}

/* Posts: Video + Audio Player */
div.video > iframe,
div.audio > iframe{
width: 100%;
margin: 0 auto;
display: block;
}

}

/* Mobile, Smartphones, iPhone */
@media (max-width: 759px){
/* content container */
.cc{
overflow: auto;
max-width: 100%;
}

/* container */
.c{
margin: 0 auto;
max-width: 100%; 
padding: 25px 25px 40px;
}

/* sidebar */
.sc{
margin: 20px auto;
}

.s{
margin: 50px auto;
width: 80%;
padding: 25px 25px 40px;
vertical-align: top;
}

input, textarea, select{ 
-webkit-appearance: none; 
border-radius: 0; 
-webkit-border-radius:0;
}

*{
-webkit-tap-highlight-color:{color:Hover};
}

  

