<!-- Colors -->
<meta name="color:Header" content="#12211C">
<meta name="color:Text" content="#100C22">
<meta name="color:Hover" content="#799A8F">


<style type="text/css">

body, html {
padding: 0;
margine: 0;
}

body {
font-family: 'Covered By Your Grace';
font-weight: 400;
color: black;
}

a, a:visited{
color: {AccentColor};
{block:IfNotUnderlineLinks}text-decoration: none;{/block:IfNotUnderlineLinks}
{block:IfUnderlineLinks}text-decoration: underline;{/block:IfUnderlineLinks}
}

a:hover, a:active {
color: {color:Hover};
}

h1, h2 {
font-weight: 400;
letter-spacing: 1px;
}


h1 { <!--PAGE_HEADER-->
font-family: 'Raleway';
font-size: 300;
text-decoration: none;
text-align: center;
}


h2 { <!--POST_HEADER-->
font-family: 'Raleway';
font-size: 130;
text-decoration: underline;
}


footer {
text-align: center;
}  

hr { <!--HORIZONTAL_LINE-->
 display: block;
 margin-top: 0.5em;
 margin-bottom: 0.5sem;
 margin-left: auto;
 margin-right: auto;
 border-style: inset;
 border-width: 2px;
}
  
 
  
</style>  


