<!-- Colors -->
<meta name="color:Header" content="#F3F3F3">
<meta name="color:Post Background" content="#FEFEFE">
<meta name="color:Text" content="#262626">
<meta name="color:Hover" content="#C0C0C0">
<meta name="color:Logo" content="#262626">


<style type="text/css">

body, html {
padding: 0;
margine: 0;
}

body {
font-family: 'Neucha', cursive;
font-weight: 400;
}

a, a:visited{
color: {AccentColor};
{block:IfNotUnderlineLinks}text-decoration: none;{/block:IfNotUnderlineLinks}
{block:IfUnderlineLinks}text-decoration: underline;{/block:IfUnderlineLinks}
}

a:hover, a:active {
color: {color:Hover};
}

h1, h2 {
font-weight: 400;
letter-spacing: 1px;
}



h1 { <!--PAGE_HEADER-->
font-family: 'Covered By Your Grace';
text-decoration: none; 
font-size: 180;
}


h2 { <!--POST_HEADER-->
font-family: 'Covered By Your Grace';
text-decoration: underline; 
font-size: 130;


h1, footer {
text-align: center;

  
  
 
  
</style>  


