
body, html {
max-height: 100%;
overflow: hidden;
}

body {
background-color: #092834;
font-family: 'Neucha';
font-size: 120%;
color: #D6D9C9;
}


h1 { 
font-family: 'Truculenta', sans-serif;
font-weight: 300;
font-size: 350%;
color: #415E59;
text-decoration: none;
text-align: center;
}


h2 { 
font-family: 'Truculenta', sans-serif;
font-size: 130%;
color: #415E59;
text-decoration: underline;
}

footer {
font-size: 80%;
text-align: center;
position: fixed;
bottom: 0%;
left: 50%;
transform: translate(-50%, 0%);
}  

.noselect {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */     
} 

.nothingyet{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*START_post: for all pages*/
.post {
text-align: left;
position: fixed;
top: 30%;
left: 10%;
width: 80%;
transform: translate (-10%, 30%)
}
/*END_post: for all pages*/

/*START_border-main: in betwwen 20px*/
.mainabout {
 position: fixed;
 top: 40%;
 left: 17%;
 tranform: translate(17%, 40%);
}

.mainprojects {
 position: fixed;
 top: 40%;
 left: 37.5%;
 tranform: translate(40%, 37.5%);
}

.mainsearch {
 position: fixed;
 top: 40%;
 left: 67%;
 tranform: translate(77%, 40%);
}
/*END_border-main: in betwwen 20px*/
  
/*START_LinkColours*/
a:link {
color: #2F4F4F;
text-decoration: none;
}

a:visited{
color: #C5DCA8;
text-decoration: none;
}

a:hover{
color: #9BA17B;
text-decoration: none;
}

a:active{
color:#415E59;
text-decoration: none;
}

/*END_LinkColours*/



