<!-- Colors -->
<meta name="color:Header" content="#12211C">
<meta name="color:Text" content="#100C22">
<meta name="color:Hover" content="#799A8F">


<style type="text/css">

body, html {
padding: 0;
margine: 0;
}

body {
font-family: 'Raleway';
font-size:100%;
color: black;
}

a, a:visited{
color: {AccentColor};
{block:IfNotUnderlineLinks}text-decoration: none;{/block:IfNotUnderlineLinks}
{block:IfUnderlineLinks}text-decoration: underline;{/block:IfUnderlineLinks}
}

a:hover, a:active {
color: {color:Hover};
}

h1, h2 {
font-family: 'Covered By Your Grace';
letter-spacing: 1px;
}


h1 { <!--PAGE_HEADER-->
font-size: 300px;
text-decoration: none;
text-align: center;
}


h2 { <!--POST_HEADER-->
font-size: 130px;
text-decoration: underline;
}


footer {
text-align: center;
position: fixed;
bottom: 0;
}  

hr { <!--HORIZONTAL_LINE-->
 display: block;
 margin-top: 0.5em;
 margin-bottom: 0.5sem;
 margin-left: auto;
 margin-right: auto;
 border-style: inset;
 border-width: 2px;
}

.nothingyet{
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
  
 
  
</style>  


